level: [0, 83, 174, 276, 388, 512, 650, 801, 969, 1154] # how much xp is required to progress to each level, first entry is amount needed for level 1.
lore:
  intro:
    inventoryName: "§0§LLegends of Cysendal"
    itemName: "§9§LWelcome to Cysendal."
    itemLore:
      - "§3Long ago, these lands were the battlegrounds"
      - "§3of powerful magical empires. Their terrible"
      - "§3wars infused the land with soul energy, and"
      - "§3within every creature in Cysendal lies reserves"
      - "§3of that energy, ready to be harnessed."
      - ""
      - "§9You are here to claim that energy for yourself."
      - "§9You may not be alone."
      - ""
      - "§6§LAre you ready to begin your journey?"
      - "§8§OClick to continue."
  classSelect: # details what the class selection screen's items look like
    FIGHTER:
      itemName: "Fighter"
      itemLore:
        - "§3Specializes in melee abilities."
        - "§3High health."
    MAGE:
      itemName: "Mage"
      itemLore:
        - "§3Specializes in highly powered spells."
    RANGER:
      itemName: "Ranger"
      itemLore:
        - "§3Specializes in bow abilities and agility."

players:
  exampleplayer:
    sp: 40
    level: 5
    class: 'mage'